.card.expense-item {
  display: flex;
  background-color: rgb(168, 173, 168);
  border-radius: 10px;

  margin: 20px;
  justify-content: space-between;
  width: 500px;
}
.expense-item .date {
  color: #fff;
}
.expense-item .text {
  font-weight: bold;
  font-size: 14px;
}
.expense-item .amount {
  font-weight: bold;
  border-radius: 2px solid rgb(194, 194, 236);
  background: rgb(58, 53, 53);
  align-self: flex-end;
  padding: 5px;
  color: #fff;
}
