.expense-form-control {
  width: 50%;
  display: block;
}
.expense-form {
  background-color: #e6e4d8;
}
.expense-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100px;
}
